.inBanner {
  height: calc(50vh + 3rem);
  min-height: 400px;
  background: var(--primary); /*margin-bottom:-3rem;*/
}
.inBanImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pageTitle {
  width: 300px;
  transform: translateY(-50%);
  border-radius: 50rem 50rem 0 0/ 25rem 25rem 0 0;
}

/* .pageTitle:before,
.pageTitle:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 0;
} */

.pageTitle:before {
  transform: scale(1.3);
}

.pageTitle:after {
  transform: scale(1.15);
}

.aboutPage {
  position: relative;
}

/* .aboutPage::before {
  content: "";
  width: 100%;
  height: 150px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(var(--pinkRGB), 1) 100%
  );
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 1;
} */

:global(.collectionList) > div {
  position: relative;
}

:global(.collectionList) > div:nth-child(odd) {
  margin-bottom: 0;
}

:global(.collectionList) > div:nth-child(even) {
  margin-top: 25%;
}

:global(.collectionList) a {
  width: 100%;
  aspect-ratio: 5/8;
  overflow: hidden;
  display: block;
  margin: auto;
  border-radius: 1rem;
  background: #eee;
  transition: all 0.3s ease;
  position: relative;
  top: 0;
}

:global(.collectionList) a:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  top: -10px;
}

:global(.collectionList) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 0;
}

.collnBox {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 1rem;
  z-index: 1;
}
.collnBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

.collnBox:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease;
  border-radius: 1.2rem;
}
.collnBox:hover:before {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  box-shadow: 0 0 50px rgba(var(--primaryRGB), 0.8);
}
.collnBox:hover {
  z-index: 5;
}

.collnBox a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}
.collnBox a:after {
  content: "";
  width: 200%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 200%;
  background: linear-gradient(
    105deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  transition: none;
  filter: brightness(200%);
  z-index: 1;
}
.collnBox:hover a:after {
  right: -200%;
  transition: all 2s 0.1s ease;
}

@media (min-width: 576px) {
  :global(.collectionGrid) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .gDiv1 {
    grid-row: span 2 / span 2;
  }
  .gDiv2 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .gDiv3 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .gDiv4 {
    grid-row-start: 3;
  }
}
