@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@font-face {
  font-family: "Stardom";
  src: url("/fonts/Stardom-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary: #6d2a46;
  --primaryRGB: 109, 42, 70;
  --pink: #f2d4d2;
  --pinkRGB: 242, 212, 210;
  --pinkDark: #e6c2b3;
  --PrimarySubtle: #8b6575;
  --lotus: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 386.8 228.5' fill='%238b6475'><path d='M96.4,177.8c6.6,0.1,13,0.4,19.6,1.3c5.7,0.7,11.1,1.7,16.7,2.9c5.2,1.2,10.3,2.7,15.3,4.5l7.4,3.1c5.6,2.6,10.6,5.8,15.3,9.8c2.3,2,4.3,4,6.1,6.4c0.8,1.1,2,2.2,2.5,1.6c0.6-0.8-0.6-3.3-1.4-4.6c-2.5-4.1-5.2-8.1-8.2-11.9l-5.4-5.8l-5.6-5.2l-8.3-6.7l-8.4-5.8l-6.9-3.9l-9.6-4.4c-4.7-2-9.4-3.4-14.3-4.8c-5-1.4-9.9-2.2-15.1-2.9c-8-1-16-1.6-24.1-2.3l-17.5-1.4c-11-0.9-21-3.3-31.1-7.8c-6-2.7-11.4-6.3-16-11c-1.9-2-3.5-4.1-5.2-6.2c-0.8-1-1.8-1.9-2-1.4L0,122l0.3,4.5c0.4,3.9,0.6,7.6,1.3,11.4c1,5.6,2.4,11.1,4,16.6c3.2,10.4,7.7,20.3,13.5,29.4c3.8,6,8.2,11.6,13.1,16.7c6.6,6.9,14.2,12.8,22.6,17.5c3.3,1.8,6.6,3.3,10.1,4.6c6.7,2.6,13.5,4.3,20.7,5.2c0,0,7.8,0.5,10.4,0.5c2.5,0,9.8-0.6,9.8-0.6c4.1-0.2,8-1.1,12-1.9c2.9-0.6,5.5-1.3,8.2-2.4c1.2-0.5,2.1-1.3,1.7-1.7c-0.5-0.5-1.7-0.4-2.8-0.3c-12.2,0.9-23.2,0.8-35.2-1.4c-4.7-0.9-9-2.3-13.5-3.9c-5.7-2-11-4.8-16.1-8.1c-7.8-5-14.6-11.3-20-18.8c-3.9-5.4-7.3-11-10-17.2c-1.7-4-3.3-7.9-4.2-12.3c0.8,0.3,1.3,0.6,1.9,1.1c8.4,6,17.7,9.4,27.7,12L65,175l12.4,1.7C83.8,177.4,90,177.7,96.4,177.8z'/><path d='M113.5,110.1c-2.1-6.4-3.4-13-4.1-19.8c-1.3-13.1,0.7-26.4,5.9-38.6c3.5-8.1,8.3-15.6,14.1-22.2l3.7-3.8c0.3-0.3,1.2-0.1,1.6,0.1l4.4,2.6l12,8.2l3.3,2.1c0.3,0.2,1.1,0.1,1.2-0.2c0.2-0.7,0.1-1.6-0.2-2.3c-1.8-3.8-3.7-7.5-5.8-11.2c-4.9-8.3-10.8-15.8-17.7-22.5c-1.8-1.7-4.1-3.7-5.8-1.9l-2.3,2.5c-3.1,3.8-6.2,7.4-9,11.4c-3.9,5.6-7.4,11.3-10.5,17.4c-3.2,6.2-5.7,12.6-7.5,19.3c-1.7,6.5-2.8,13-3.3,19.7c-0.4,5.8,0.1,11.4,1.2,17.1c1.3,6.3,3.2,12.4,5.7,18.3c4.2,10.1,10.3,20.3,17.3,28.6l6.3,7.5l11.4,12.7c1.5,1.5,3.1,2.9,4.9,4c0.1,0,0.6,0.1,0.5,0l-0.1-0.5l-6.7-9.4l-4.8-6.8c-4.5-6.9-8.4-14.1-11.8-21.8L113.5,110.1z'/><path d='M52.4,81.6c-1.5-4.9-2.7-9.8-3.4-14.9c-0.3-2.1-0.5-4-0.5-6.1c0-0.6,0.4-1,1-0.9c5,0.4,9.8,1.5,14.6,3c6.6,2,12.8,4.6,18.9,8l2.8,1.2c0.2,0.1,0.7,0,0.8-0.2c0.5-0.6-0.4-1.7-1.2-2.6c-4.8-4.9-10-9.3-15.8-13c-3-1.9-5.8-3.6-9-5.3C52.4,46.7,44,43.3,35.3,41c-2.1-0.6-4.9-1.1-5,0.6c-0.2,2.8-0.2,5.4-0.1,8.3c0.5,13.1,2.9,26.1,7.5,38.4c2.4,6.4,5.6,12.5,9.4,18.3c9.4,14.2,22.7,25.1,38,32.6c8,3.9,16.3,7,25,8.9c0.5,0.1,1,0,1.5-0.2c-0.5-0.8-1.1-1.4-1.9-1.9c-6.1-3.8-12.1-7.7-18-12c-8.9-6.4-16.3-13.7-23.1-22.3c-5.7-7.2-10.3-15-13.8-23.6L52.4,81.6z'/><path d='M309.4,176.7l12.4-1.7l9.6-2.1c10-2.6,19.3-5.9,27.7-12c0.6-0.4,1.1-0.7,1.9-1.1c-0.9,4.3-2.5,8.2-4.2,12.3c-2.6,6.1-6,11.8-10,17.2c-5.5,7.5-12.2,13.8-20,18.8c-5.1,3.3-10.4,6-16.1,8.1c-4.5,1.6-8.8,3-13.5,3.9c-12.1,2.3-23,2.4-35.2,1.4c-1.1-0.1-2.3-0.1-2.8,0.3c-0.4,0.4,0.5,1.3,1.7,1.7c2.7,1.1,5.4,1.8,8.2,2.4c4,0.8,7.8,1.7,12,1.9c0,0,6.9,0.5,9.3,0.5c2.7,0,10.9-0.4,10.9-0.4c7.2-0.8,14-2.6,20.7-5.2c3.5-1.4,6.8-2.8,10.1-4.6c8.4-4.7,16-10.6,22.6-17.5c4.9-5.1,9.3-10.7,13.1-16.7c5.8-9.2,10.3-19,13.5-29.4c1.7-5.5,3-10.9,4-16.6c0.7-3.8,0.9-7.5,1.3-11.4l0.3-4.5l-0.4-0.6c-0.3-0.5-1.3,0.3-2,1.4c-1.7,2.2-3.2,4.3-5.2,6.2c-4.6,4.6-10,8.3-16,11c-10.1,4.5-20,6.9-31.1,7.8l-17.5,1.4c-8.1,0.6-16,1.3-24.1,2.3c-5.2,0.7-10.1,1.5-15.1,2.9c-4.9,1.3-9.6,2.8-14.3,4.8l-9.6,4.4l-6.9,3.9l-8.4,5.8l-8.3,6.7l-5.6,5.2l-5.4,5.8c-3,3.8-5.7,7.7-8.2,11.9c-0.8,1.3-2,3.8-1.4,4.6c0.5,0.7,1.7-0.5,2.5-1.6c1.8-2.4,3.8-4.4,6.1-6.4c4.7-4,9.7-7.2,15.3-9.8l7.4-3.1c5-1.8,10.1-3.3,15.3-4.5c5.6-1.3,11.1-2.2,16.7-2.9c6.6-0.8,13-1.1,19.6-1.3C296.7,177.7,302.9,177.4,309.4,176.7z'/><path d='M193.4,46.9l5.9,4.6c4.7,3.9,8.9,8.2,12.8,12.9c5.4,6.4,10,13.4,13.7,20.9c4.5,9.2,7.4,19.1,8.6,29.3c1,8.3,0.9,16.6-0.4,24.9c-1.3,8-3.4,15.8-6.5,23.3l-6.2,13.1l-5.7,10.3c-0.7,1.2-1.7,3-1.1,3.6c0.5,0.5,2.3-1.1,3.2-2.1l4.2-4.7l8.1-10.3c5.9-7.5,10.7-15.8,14.7-24.5c9.6-21.1,12.2-43.3,3.8-65.4c-3.1-8-7.1-15.7-12-22.8c-4.6-6.6-9.8-12.6-15.3-18.4l-11.4-11.4l-8.2-7.5l-5.2-4c-0.9-0.7-2-1.1-3.2-1.3h0c-1.2,0.3-2.2,0.6-3.2,1.3l-5.2,4l-8.2,7.5l-11.4,11.4c-5.5,5.8-10.7,11.8-15.3,18.4c-5,7-9,14.7-12,22.8c-8.4,22-5.8,44.2,3.8,65.4c4,8.7,8.7,17,14.7,24.5l8.1,10.3l4.2,4.7c0.9,1,2.7,2.6,3.2,2.1c0.6-0.6-0.5-2.4-1.1-3.6l-5.7-10.3l-6.2-13.1c-3.1-7.5-5.2-15.3-6.5-23.3c-1.3-8.3-1.4-16.6-0.4-24.9c1.2-10.2,4.1-20.1,8.6-29.3c3.7-7.5,8.2-14.6,13.7-20.9c4-4.7,8.2-9,12.8-12.9L193.4,46.9L193.4,46.9z'/><path d='M269.2,121c-3.3,7.7-7.3,14.8-11.8,21.8l-4.8,6.8l-6.7,9.4l-0.1,0.5c0,0.1,0.4,0.1,0.5,0c1.8-1.1,3.4-2.5,4.9-4l11.4-12.7l6.3-7.5c7-8.3,13.1-18.5,17.3-28.6c2.5-6,4.4-12,5.7-18.3c1.2-5.7,1.7-11.3,1.2-17.1c-0.5-6.7-1.6-13.2-3.3-19.7c-1.8-6.8-4.3-13.1-7.5-19.3c-3.1-6.1-6.6-11.8-10.5-17.4c-2.8-4-5.9-7.7-9-11.4l-2.3-2.5c-1.7-1.8-4,0.2-5.8,1.9c-6.9,6.7-12.9,14.2-17.7,22.5c-2.1,3.7-4,7.4-5.8,11.2c-0.3,0.7-0.4,1.6-0.2,2.3c0.1,0.3,0.9,0.4,1.2,0.2l3.3-2.1l12-8.2l4.4-2.6c0.3-0.2,1.3-0.4,1.6-0.1l3.7,3.8c5.8,6.7,10.6,14.1,14.1,22.2c5.2,12.1,7.2,25.4,5.9,38.6c-0.7,6.8-2,13.3-4.1,19.8L269.2,121z'/><path d='M332,88.2c-3.4,8.6-8.1,16.4-13.8,23.6c-6.8,8.6-14.2,15.9-23.1,22.3c-5.9,4.2-11.9,8.1-18,12c-0.8,0.5-1.4,1.1-1.9,1.9c0.5,0.2,0.9,0.3,1.5,0.2c8.7-1.9,17-4.9,25-8.9c15.2-7.5,28.5-18.4,38-32.6c3.8-5.7,7-11.8,9.4-18.3c4.6-12.3,7-25.3,7.5-38.4c0.1-2.9,0.1-5.5-0.1-8.3c-0.1-1.7-2.8-1.2-5-0.6c-8.8,2.3-17.2,5.6-25.2,9.9c-3.1,1.6-6,3.4-9,5.3c-5.8,3.7-11,8.1-15.8,13c-0.8,0.8-1.7,2-1.2,2.6c0.1,0.2,0.6,0.3,0.8,0.2l2.8-1.2c6-3.3,12.3-5.9,18.9-8c4.8-1.5,9.6-2.6,14.6-3c0.6,0,1,0.3,1,0.9c0,2.1-0.2,4-0.5,6.1c-0.7,5.1-1.8,10-3.4,14.9L332,88.2z'/></svg>");
  --lotusWhite: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 386.8 228.5' fill='%23fff'><path d='M96.4,177.8c6.6,0.1,13,0.4,19.6,1.3c5.7,0.7,11.1,1.7,16.7,2.9c5.2,1.2,10.3,2.7,15.3,4.5l7.4,3.1c5.6,2.6,10.6,5.8,15.3,9.8c2.3,2,4.3,4,6.1,6.4c0.8,1.1,2,2.2,2.5,1.6c0.6-0.8-0.6-3.3-1.4-4.6c-2.5-4.1-5.2-8.1-8.2-11.9l-5.4-5.8l-5.6-5.2l-8.3-6.7l-8.4-5.8l-6.9-3.9l-9.6-4.4c-4.7-2-9.4-3.4-14.3-4.8c-5-1.4-9.9-2.2-15.1-2.9c-8-1-16-1.6-24.1-2.3l-17.5-1.4c-11-0.9-21-3.3-31.1-7.8c-6-2.7-11.4-6.3-16-11c-1.9-2-3.5-4.1-5.2-6.2c-0.8-1-1.8-1.9-2-1.4L0,122l0.3,4.5c0.4,3.9,0.6,7.6,1.3,11.4c1,5.6,2.4,11.1,4,16.6c3.2,10.4,7.7,20.3,13.5,29.4c3.8,6,8.2,11.6,13.1,16.7c6.6,6.9,14.2,12.8,22.6,17.5c3.3,1.8,6.6,3.3,10.1,4.6c6.7,2.6,13.5,4.3,20.7,5.2c0,0,7.8,0.5,10.4,0.5c2.5,0,9.8-0.6,9.8-0.6c4.1-0.2,8-1.1,12-1.9c2.9-0.6,5.5-1.3,8.2-2.4c1.2-0.5,2.1-1.3,1.7-1.7c-0.5-0.5-1.7-0.4-2.8-0.3c-12.2,0.9-23.2,0.8-35.2-1.4c-4.7-0.9-9-2.3-13.5-3.9c-5.7-2-11-4.8-16.1-8.1c-7.8-5-14.6-11.3-20-18.8c-3.9-5.4-7.3-11-10-17.2c-1.7-4-3.3-7.9-4.2-12.3c0.8,0.3,1.3,0.6,1.9,1.1c8.4,6,17.7,9.4,27.7,12L65,175l12.4,1.7C83.8,177.4,90,177.7,96.4,177.8z'/><path d='M113.5,110.1c-2.1-6.4-3.4-13-4.1-19.8c-1.3-13.1,0.7-26.4,5.9-38.6c3.5-8.1,8.3-15.6,14.1-22.2l3.7-3.8c0.3-0.3,1.2-0.1,1.6,0.1l4.4,2.6l12,8.2l3.3,2.1c0.3,0.2,1.1,0.1,1.2-0.2c0.2-0.7,0.1-1.6-0.2-2.3c-1.8-3.8-3.7-7.5-5.8-11.2c-4.9-8.3-10.8-15.8-17.7-22.5c-1.8-1.7-4.1-3.7-5.8-1.9l-2.3,2.5c-3.1,3.8-6.2,7.4-9,11.4c-3.9,5.6-7.4,11.3-10.5,17.4c-3.2,6.2-5.7,12.6-7.5,19.3c-1.7,6.5-2.8,13-3.3,19.7c-0.4,5.8,0.1,11.4,1.2,17.1c1.3,6.3,3.2,12.4,5.7,18.3c4.2,10.1,10.3,20.3,17.3,28.6l6.3,7.5l11.4,12.7c1.5,1.5,3.1,2.9,4.9,4c0.1,0,0.6,0.1,0.5,0l-0.1-0.5l-6.7-9.4l-4.8-6.8c-4.5-6.9-8.4-14.1-11.8-21.8L113.5,110.1z'/><path d='M52.4,81.6c-1.5-4.9-2.7-9.8-3.4-14.9c-0.3-2.1-0.5-4-0.5-6.1c0-0.6,0.4-1,1-0.9c5,0.4,9.8,1.5,14.6,3c6.6,2,12.8,4.6,18.9,8l2.8,1.2c0.2,0.1,0.7,0,0.8-0.2c0.5-0.6-0.4-1.7-1.2-2.6c-4.8-4.9-10-9.3-15.8-13c-3-1.9-5.8-3.6-9-5.3C52.4,46.7,44,43.3,35.3,41c-2.1-0.6-4.9-1.1-5,0.6c-0.2,2.8-0.2,5.4-0.1,8.3c0.5,13.1,2.9,26.1,7.5,38.4c2.4,6.4,5.6,12.5,9.4,18.3c9.4,14.2,22.7,25.1,38,32.6c8,3.9,16.3,7,25,8.9c0.5,0.1,1,0,1.5-0.2c-0.5-0.8-1.1-1.4-1.9-1.9c-6.1-3.8-12.1-7.7-18-12c-8.9-6.4-16.3-13.7-23.1-22.3c-5.7-7.2-10.3-15-13.8-23.6L52.4,81.6z'/><path d='M309.4,176.7l12.4-1.7l9.6-2.1c10-2.6,19.3-5.9,27.7-12c0.6-0.4,1.1-0.7,1.9-1.1c-0.9,4.3-2.5,8.2-4.2,12.3c-2.6,6.1-6,11.8-10,17.2c-5.5,7.5-12.2,13.8-20,18.8c-5.1,3.3-10.4,6-16.1,8.1c-4.5,1.6-8.8,3-13.5,3.9c-12.1,2.3-23,2.4-35.2,1.4c-1.1-0.1-2.3-0.1-2.8,0.3c-0.4,0.4,0.5,1.3,1.7,1.7c2.7,1.1,5.4,1.8,8.2,2.4c4,0.8,7.8,1.7,12,1.9c0,0,6.9,0.5,9.3,0.5c2.7,0,10.9-0.4,10.9-0.4c7.2-0.8,14-2.6,20.7-5.2c3.5-1.4,6.8-2.8,10.1-4.6c8.4-4.7,16-10.6,22.6-17.5c4.9-5.1,9.3-10.7,13.1-16.7c5.8-9.2,10.3-19,13.5-29.4c1.7-5.5,3-10.9,4-16.6c0.7-3.8,0.9-7.5,1.3-11.4l0.3-4.5l-0.4-0.6c-0.3-0.5-1.3,0.3-2,1.4c-1.7,2.2-3.2,4.3-5.2,6.2c-4.6,4.6-10,8.3-16,11c-10.1,4.5-20,6.9-31.1,7.8l-17.5,1.4c-8.1,0.6-16,1.3-24.1,2.3c-5.2,0.7-10.1,1.5-15.1,2.9c-4.9,1.3-9.6,2.8-14.3,4.8l-9.6,4.4l-6.9,3.9l-8.4,5.8l-8.3,6.7l-5.6,5.2l-5.4,5.8c-3,3.8-5.7,7.7-8.2,11.9c-0.8,1.3-2,3.8-1.4,4.6c0.5,0.7,1.7-0.5,2.5-1.6c1.8-2.4,3.8-4.4,6.1-6.4c4.7-4,9.7-7.2,15.3-9.8l7.4-3.1c5-1.8,10.1-3.3,15.3-4.5c5.6-1.3,11.1-2.2,16.7-2.9c6.6-0.8,13-1.1,19.6-1.3C296.7,177.7,302.9,177.4,309.4,176.7z'/><path d='M193.4,46.9l5.9,4.6c4.7,3.9,8.9,8.2,12.8,12.9c5.4,6.4,10,13.4,13.7,20.9c4.5,9.2,7.4,19.1,8.6,29.3c1,8.3,0.9,16.6-0.4,24.9c-1.3,8-3.4,15.8-6.5,23.3l-6.2,13.1l-5.7,10.3c-0.7,1.2-1.7,3-1.1,3.6c0.5,0.5,2.3-1.1,3.2-2.1l4.2-4.7l8.1-10.3c5.9-7.5,10.7-15.8,14.7-24.5c9.6-21.1,12.2-43.3,3.8-65.4c-3.1-8-7.1-15.7-12-22.8c-4.6-6.6-9.8-12.6-15.3-18.4l-11.4-11.4l-8.2-7.5l-5.2-4c-0.9-0.7-2-1.1-3.2-1.3h0c-1.2,0.3-2.2,0.6-3.2,1.3l-5.2,4l-8.2,7.5l-11.4,11.4c-5.5,5.8-10.7,11.8-15.3,18.4c-5,7-9,14.7-12,22.8c-8.4,22-5.8,44.2,3.8,65.4c4,8.7,8.7,17,14.7,24.5l8.1,10.3l4.2,4.7c0.9,1,2.7,2.6,3.2,2.1c0.6-0.6-0.5-2.4-1.1-3.6l-5.7-10.3l-6.2-13.1c-3.1-7.5-5.2-15.3-6.5-23.3c-1.3-8.3-1.4-16.6-0.4-24.9c1.2-10.2,4.1-20.1,8.6-29.3c3.7-7.5,8.2-14.6,13.7-20.9c4-4.7,8.2-9,12.8-12.9L193.4,46.9L193.4,46.9z'/><path d='M269.2,121c-3.3,7.7-7.3,14.8-11.8,21.8l-4.8,6.8l-6.7,9.4l-0.1,0.5c0,0.1,0.4,0.1,0.5,0c1.8-1.1,3.4-2.5,4.9-4l11.4-12.7l6.3-7.5c7-8.3,13.1-18.5,17.3-28.6c2.5-6,4.4-12,5.7-18.3c1.2-5.7,1.7-11.3,1.2-17.1c-0.5-6.7-1.6-13.2-3.3-19.7c-1.8-6.8-4.3-13.1-7.5-19.3c-3.1-6.1-6.6-11.8-10.5-17.4c-2.8-4-5.9-7.7-9-11.4l-2.3-2.5c-1.7-1.8-4,0.2-5.8,1.9c-6.9,6.7-12.9,14.2-17.7,22.5c-2.1,3.7-4,7.4-5.8,11.2c-0.3,0.7-0.4,1.6-0.2,2.3c0.1,0.3,0.9,0.4,1.2,0.2l3.3-2.1l12-8.2l4.4-2.6c0.3-0.2,1.3-0.4,1.6-0.1l3.7,3.8c5.8,6.7,10.6,14.1,14.1,22.2c5.2,12.1,7.2,25.4,5.9,38.6c-0.7,6.8-2,13.3-4.1,19.8L269.2,121z'/><path d='M332,88.2c-3.4,8.6-8.1,16.4-13.8,23.6c-6.8,8.6-14.2,15.9-23.1,22.3c-5.9,4.2-11.9,8.1-18,12c-0.8,0.5-1.4,1.1-1.9,1.9c0.5,0.2,0.9,0.3,1.5,0.2c8.7-1.9,17-4.9,25-8.9c15.2-7.5,28.5-18.4,38-32.6c3.8-5.7,7-11.8,9.4-18.3c4.6-12.3,7-25.3,7.5-38.4c0.1-2.9,0.1-5.5-0.1-8.3c-0.1-1.7-2.8-1.2-5-0.6c-8.8,2.3-17.2,5.6-25.2,9.9c-3.1,1.6-6,3.4-9,5.3c-5.8,3.7-11,8.1-15.8,13c-0.8,0.8-1.7,2-1.2,2.6c0.1,0.2,0.6,0.3,0.8,0.2l2.8-1.2c6-3.3,12.3-5.9,18.9-8c4.8-1.5,9.6-2.6,14.6-3c0.6,0,1,0.3,1,0.9c0,2.1-0.2,4-0.5,6.1c-0.7,5.1-1.8,10-3.4,14.9L332,88.2z'/></svg>");
  --lotusPink: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 386.8 228.5' fill='%23f2d4d2'><path d='M96.4,177.8c6.6,0.1,13,0.4,19.6,1.3c5.7,0.7,11.1,1.7,16.7,2.9c5.2,1.2,10.3,2.7,15.3,4.5l7.4,3.1c5.6,2.6,10.6,5.8,15.3,9.8c2.3,2,4.3,4,6.1,6.4c0.8,1.1,2,2.2,2.5,1.6c0.6-0.8-0.6-3.3-1.4-4.6c-2.5-4.1-5.2-8.1-8.2-11.9l-5.4-5.8l-5.6-5.2l-8.3-6.7l-8.4-5.8l-6.9-3.9l-9.6-4.4c-4.7-2-9.4-3.4-14.3-4.8c-5-1.4-9.9-2.2-15.1-2.9c-8-1-16-1.6-24.1-2.3l-17.5-1.4c-11-0.9-21-3.3-31.1-7.8c-6-2.7-11.4-6.3-16-11c-1.9-2-3.5-4.1-5.2-6.2c-0.8-1-1.8-1.9-2-1.4L0,122l0.3,4.5c0.4,3.9,0.6,7.6,1.3,11.4c1,5.6,2.4,11.1,4,16.6c3.2,10.4,7.7,20.3,13.5,29.4c3.8,6,8.2,11.6,13.1,16.7c6.6,6.9,14.2,12.8,22.6,17.5c3.3,1.8,6.6,3.3,10.1,4.6c6.7,2.6,13.5,4.3,20.7,5.2c0,0,7.8,0.5,10.4,0.5c2.5,0,9.8-0.6,9.8-0.6c4.1-0.2,8-1.1,12-1.9c2.9-0.6,5.5-1.3,8.2-2.4c1.2-0.5,2.1-1.3,1.7-1.7c-0.5-0.5-1.7-0.4-2.8-0.3c-12.2,0.9-23.2,0.8-35.2-1.4c-4.7-0.9-9-2.3-13.5-3.9c-5.7-2-11-4.8-16.1-8.1c-7.8-5-14.6-11.3-20-18.8c-3.9-5.4-7.3-11-10-17.2c-1.7-4-3.3-7.9-4.2-12.3c0.8,0.3,1.3,0.6,1.9,1.1c8.4,6,17.7,9.4,27.7,12L65,175l12.4,1.7C83.8,177.4,90,177.7,96.4,177.8z'/><path d='M113.5,110.1c-2.1-6.4-3.4-13-4.1-19.8c-1.3-13.1,0.7-26.4,5.9-38.6c3.5-8.1,8.3-15.6,14.1-22.2l3.7-3.8c0.3-0.3,1.2-0.1,1.6,0.1l4.4,2.6l12,8.2l3.3,2.1c0.3,0.2,1.1,0.1,1.2-0.2c0.2-0.7,0.1-1.6-0.2-2.3c-1.8-3.8-3.7-7.5-5.8-11.2c-4.9-8.3-10.8-15.8-17.7-22.5c-1.8-1.7-4.1-3.7-5.8-1.9l-2.3,2.5c-3.1,3.8-6.2,7.4-9,11.4c-3.9,5.6-7.4,11.3-10.5,17.4c-3.2,6.2-5.7,12.6-7.5,19.3c-1.7,6.5-2.8,13-3.3,19.7c-0.4,5.8,0.1,11.4,1.2,17.1c1.3,6.3,3.2,12.4,5.7,18.3c4.2,10.1,10.3,20.3,17.3,28.6l6.3,7.5l11.4,12.7c1.5,1.5,3.1,2.9,4.9,4c0.1,0,0.6,0.1,0.5,0l-0.1-0.5l-6.7-9.4l-4.8-6.8c-4.5-6.9-8.4-14.1-11.8-21.8L113.5,110.1z'/><path d='M52.4,81.6c-1.5-4.9-2.7-9.8-3.4-14.9c-0.3-2.1-0.5-4-0.5-6.1c0-0.6,0.4-1,1-0.9c5,0.4,9.8,1.5,14.6,3c6.6,2,12.8,4.6,18.9,8l2.8,1.2c0.2,0.1,0.7,0,0.8-0.2c0.5-0.6-0.4-1.7-1.2-2.6c-4.8-4.9-10-9.3-15.8-13c-3-1.9-5.8-3.6-9-5.3C52.4,46.7,44,43.3,35.3,41c-2.1-0.6-4.9-1.1-5,0.6c-0.2,2.8-0.2,5.4-0.1,8.3c0.5,13.1,2.9,26.1,7.5,38.4c2.4,6.4,5.6,12.5,9.4,18.3c9.4,14.2,22.7,25.1,38,32.6c8,3.9,16.3,7,25,8.9c0.5,0.1,1,0,1.5-0.2c-0.5-0.8-1.1-1.4-1.9-1.9c-6.1-3.8-12.1-7.7-18-12c-8.9-6.4-16.3-13.7-23.1-22.3c-5.7-7.2-10.3-15-13.8-23.6L52.4,81.6z'/><path d='M309.4,176.7l12.4-1.7l9.6-2.1c10-2.6,19.3-5.9,27.7-12c0.6-0.4,1.1-0.7,1.9-1.1c-0.9,4.3-2.5,8.2-4.2,12.3c-2.6,6.1-6,11.8-10,17.2c-5.5,7.5-12.2,13.8-20,18.8c-5.1,3.3-10.4,6-16.1,8.1c-4.5,1.6-8.8,3-13.5,3.9c-12.1,2.3-23,2.4-35.2,1.4c-1.1-0.1-2.3-0.1-2.8,0.3c-0.4,0.4,0.5,1.3,1.7,1.7c2.7,1.1,5.4,1.8,8.2,2.4c4,0.8,7.8,1.7,12,1.9c0,0,6.9,0.5,9.3,0.5c2.7,0,10.9-0.4,10.9-0.4c7.2-0.8,14-2.6,20.7-5.2c3.5-1.4,6.8-2.8,10.1-4.6c8.4-4.7,16-10.6,22.6-17.5c4.9-5.1,9.3-10.7,13.1-16.7c5.8-9.2,10.3-19,13.5-29.4c1.7-5.5,3-10.9,4-16.6c0.7-3.8,0.9-7.5,1.3-11.4l0.3-4.5l-0.4-0.6c-0.3-0.5-1.3,0.3-2,1.4c-1.7,2.2-3.2,4.3-5.2,6.2c-4.6,4.6-10,8.3-16,11c-10.1,4.5-20,6.9-31.1,7.8l-17.5,1.4c-8.1,0.6-16,1.3-24.1,2.3c-5.2,0.7-10.1,1.5-15.1,2.9c-4.9,1.3-9.6,2.8-14.3,4.8l-9.6,4.4l-6.9,3.9l-8.4,5.8l-8.3,6.7l-5.6,5.2l-5.4,5.8c-3,3.8-5.7,7.7-8.2,11.9c-0.8,1.3-2,3.8-1.4,4.6c0.5,0.7,1.7-0.5,2.5-1.6c1.8-2.4,3.8-4.4,6.1-6.4c4.7-4,9.7-7.2,15.3-9.8l7.4-3.1c5-1.8,10.1-3.3,15.3-4.5c5.6-1.3,11.1-2.2,16.7-2.9c6.6-0.8,13-1.1,19.6-1.3C296.7,177.7,302.9,177.4,309.4,176.7z'/><path d='M193.4,46.9l5.9,4.6c4.7,3.9,8.9,8.2,12.8,12.9c5.4,6.4,10,13.4,13.7,20.9c4.5,9.2,7.4,19.1,8.6,29.3c1,8.3,0.9,16.6-0.4,24.9c-1.3,8-3.4,15.8-6.5,23.3l-6.2,13.1l-5.7,10.3c-0.7,1.2-1.7,3-1.1,3.6c0.5,0.5,2.3-1.1,3.2-2.1l4.2-4.7l8.1-10.3c5.9-7.5,10.7-15.8,14.7-24.5c9.6-21.1,12.2-43.3,3.8-65.4c-3.1-8-7.1-15.7-12-22.8c-4.6-6.6-9.8-12.6-15.3-18.4l-11.4-11.4l-8.2-7.5l-5.2-4c-0.9-0.7-2-1.1-3.2-1.3h0c-1.2,0.3-2.2,0.6-3.2,1.3l-5.2,4l-8.2,7.5l-11.4,11.4c-5.5,5.8-10.7,11.8-15.3,18.4c-5,7-9,14.7-12,22.8c-8.4,22-5.8,44.2,3.8,65.4c4,8.7,8.7,17,14.7,24.5l8.1,10.3l4.2,4.7c0.9,1,2.7,2.6,3.2,2.1c0.6-0.6-0.5-2.4-1.1-3.6l-5.7-10.3l-6.2-13.1c-3.1-7.5-5.2-15.3-6.5-23.3c-1.3-8.3-1.4-16.6-0.4-24.9c1.2-10.2,4.1-20.1,8.6-29.3c3.7-7.5,8.2-14.6,13.7-20.9c4-4.7,8.2-9,12.8-12.9L193.4,46.9L193.4,46.9z'/><path d='M269.2,121c-3.3,7.7-7.3,14.8-11.8,21.8l-4.8,6.8l-6.7,9.4l-0.1,0.5c0,0.1,0.4,0.1,0.5,0c1.8-1.1,3.4-2.5,4.9-4l11.4-12.7l6.3-7.5c7-8.3,13.1-18.5,17.3-28.6c2.5-6,4.4-12,5.7-18.3c1.2-5.7,1.7-11.3,1.2-17.1c-0.5-6.7-1.6-13.2-3.3-19.7c-1.8-6.8-4.3-13.1-7.5-19.3c-3.1-6.1-6.6-11.8-10.5-17.4c-2.8-4-5.9-7.7-9-11.4l-2.3-2.5c-1.7-1.8-4,0.2-5.8,1.9c-6.9,6.7-12.9,14.2-17.7,22.5c-2.1,3.7-4,7.4-5.8,11.2c-0.3,0.7-0.4,1.6-0.2,2.3c0.1,0.3,0.9,0.4,1.2,0.2l3.3-2.1l12-8.2l4.4-2.6c0.3-0.2,1.3-0.4,1.6-0.1l3.7,3.8c5.8,6.7,10.6,14.1,14.1,22.2c5.2,12.1,7.2,25.4,5.9,38.6c-0.7,6.8-2,13.3-4.1,19.8L269.2,121z'/><path d='M332,88.2c-3.4,8.6-8.1,16.4-13.8,23.6c-6.8,8.6-14.2,15.9-23.1,22.3c-5.9,4.2-11.9,8.1-18,12c-0.8,0.5-1.4,1.1-1.9,1.9c0.5,0.2,0.9,0.3,1.5,0.2c8.7-1.9,17-4.9,25-8.9c15.2-7.5,28.5-18.4,38-32.6c3.8-5.7,7-11.8,9.4-18.3c4.6-12.3,7-25.3,7.5-38.4c0.1-2.9,0.1-5.5-0.1-8.3c-0.1-1.7-2.8-1.2-5-0.6c-8.8,2.3-17.2,5.6-25.2,9.9c-3.1,1.6-6,3.4-9,5.3c-5.8,3.7-11,8.1-15.8,13c-0.8,0.8-1.7,2-1.2,2.6c0.1,0.2,0.6,0.3,0.8,0.2l2.8-1.2c6-3.3,12.3-5.9,18.9-8c4.8-1.5,9.6-2.6,14.6-3c0.6,0,1,0.3,1,0.9c0,2.1-0.2,4-0.5,6.1c-0.7,5.1-1.8,10-3.4,14.9L332,88.2z'/></svg>");
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #bbb;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

::selection {
  background: #222;
  color: #fff;
}
::-moz-selection {
  background: #222;
  color: #fff;
}
::-moz-placeholder {
  color: inherit;
  opacity: 0.3;
}
::-ms-input-placeholder {
  color: inherit;
  opacity: 0.3;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.3;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body * {
  color: inherit;
}
body.stopScroll {
  overflow: hidden;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.fw-semibold {
  font-weight: 600;
}
.fw-bold,
strong {
  font-weight: 700;
}
p {
  line-height: 1.5;
}

.titleFont {
  font-family: "Stardom", "Times New Roman", Times, serif;
}
.sectTitle {
  font-size: clamp(2rem, calc(1.65rem + 1.75vw), 3.75rem);
  line-height: 1.1;
}
.sectSubTitle {
  font-size: clamp(1rem, calc(0.95rem + 0.25vw), 1.25rem);
  font-weight: 600;
}
.titleLotus {
  width: 3.5rem;
  aspect-ratio: 3/2;
  background: var(--lotus) no-repeat center/contain;
  display: inline-block;
}

.bgprimary {
  background: var(--primary);
}
.bgPink {
  background: var(--pink);
}

.textPrimary {
  color: var(--primary);
}
.textPrimarySubtle {
  color: var(--PrimarySubtle);
}
.textPink {
  color: var(--pink);
}
.textPinkDark {
  color: var(--pinkDark);
}

.ctaBtn {
  width: var(--btnWidth, 200px);
  display: inline-block;
  background: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  padding: 1.25rem 1.5rem;
  border-radius: 50rem;
  transition: all 1s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transform: scale(1);
  text-align: center;
}
.ctaBtn:hover {
  color: var(--primary);
  transform: scale(1.03);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.ctaBtn.ghost {
  background: transparent;
  border-color: var(--pink);
}

.ctaBtn:before {
  content: "";
  width: 200%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -250%;
  z-index: -1;
  transition: inherit;
  background: linear-gradient(
    90deg,
    rgba(251, 214, 205, 1) 0%,
    rgba(255, 243, 240, 1) 25%,
    rgba(251, 214, 205, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.ctaBtn:hover:before {
  left: 0;
}

.swiperNavBtn {
  color: var(--primary);
  width: 2rem;
  opacity: 0.5;
}
.swiperNavBtn:hover {
  opacity: 1;
}

@media (min-width: 575px) {
  .sitePadding {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

.animateThis {
  position: relative;
  will-change: opacity transform;
  transform-origin: 50% 50%;
  transition: all 0.5s ease-out;
}
.slideLeft {
  opacity: 0;
  transform: translate3d(50px, 0px, 0px);
}
.slideLeft.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.slideRight {
  opacity: 0;
  transform: translate3d(-50px, 0px, 0px);
}
.slideRight.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.slideTop {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
}
.slideTop.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.slideBottom {
  opacity: 0;
  transform: translate3d(0px, -80px, 0px);
}
.slideBottom.in-view {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.fadeGrow {
  opacity: 0;
  transform: scale(0.8);
}
.fadeGrow.in-view {
  opacity: 1;
  transform: scale(1);
}
.fadeShrink {
  opacity: 0;
  transform: scale(1.2);
}
.fadeShrink.in-view {
  opacity: 1;
  transform: scale(1);
}
.fadeIn {
  opacity: 0;
}
.fadeIn.in-view {
  opacity: 1;
}
.curtain {
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
.curtain.in-view {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.curtainLeft {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.curtainLeft.in-view {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.flipX {
  transform: rotateY(360deg);
}
.flipX.in-view {
  transform: rotateY(0deg);
}
@font-face {
  font-family: "Stardom";
  src: url("../../public/fonts/Stardom-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-stardom {
  font-family: "Stardom", serif;
}
/* .font-poppins{
   font-family: 'poppins';
} */
body {
  font-family: "poppins";
  font-size: 40px;
  font-weight: 500;
}
