.inBanner {
  height: calc(50vh + 3rem);
  min-height: 400px;
  background: var(--primary);
}
.inBanImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pageTitle {
  width: 300px;
  transform: translateY(-50%);
  border-radius: 50rem 50rem 0 0/ 25rem 25rem 0 0;
  /* margin-top: 40px; */
}
/* .pageTitle {width:170px;aspect-ratio:1;transform:translateY(-50%);border:0px solid var(--pink);position:relative;z-index:1;}
.pageTitle:before, .pageTitle:after {content:'';width:100%;height:100%;background:rgba(255, 255, 255, .2);display:block;border-radius:50%;z-index:-1;position:absolute;top:0;}
.pageTitle:before {transform:scale(1.3);}
.pageTitle:after {transform:scale(1.15);} */

.aboutPage {
  position: relative;
}

.pTag {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 575px) {
  /* .inBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  } */

  /* .inBanner{
    height: auto;
    min-height: 200px;
    object-fit: cover;
    object-position: center;
  } */
  /* .pageTitle{
    margin-top: 0px;
  } */
}
